:root {
    --primary: #094b65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background:var(--primary);
  height: 100%;
  width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
scroll-behavior: smooth;
transition: all 2s;

}

h2, p {
    color: #fff;
}

.container-span {
  font-weight: 200;
  letter-spacing: 0;
  text-align: center;
  margin-top: -120px;
}

.container-span span {
  animation: letterWave .8s ease-in-out infinite alternate;
  animation-delay: calc(var(--order) * 100ms);  
}

@keyframes letterWave {
  to { 
    font-weight: 700;
  letter-spacing: -5px;
  font-size: 3.2rem;
  letter-spacing: 2px;
  }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bird1,
#bird2 {
    display: none;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


section #text {
    color: var(--primary);
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    transform: translatey(-110%);
    font-weight: 620;
    letter-spacing: 4px;
    position: absolute;
}

section #text span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn {
    display: none;
}

.sec {
    position: relative;
    padding: 40px;
    background: var(--primary);
}

.intro {
    display: flex;
}

.intro-text, 
.formazione,
.esperienze {
    box-shadow: 3px 3px 3px #042b3c;
    border-radius: 50px;
    padding: 20px 20px 20px 30px;
    background-color:#2f79926b;
}

.intro-text {
    width: 1100px;
    height: fit-content;
    margin-top: 40px;
}

.sec h2 {
    font-size: 1.7em;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sec p {
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 32px;
}

iframe {
    height: 620px;
    width: 1200px;
    margin-right: -550px;
    margin-top: -50px;
}

footer {
    position: relative;
    padding: 20px 100px;
    background: var(--primary);
    color: white;
    background-color: #042b3c;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 20px;
}

.hobby {
    margin-top: 30px;
}

.container {
    display: flex;
    margin-top: 40px;
    margin-left: -10px;
  }

.container h3 {
    text-shadow: 2px 2px 2px var(--primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left:20px;
}
  
  .panel {
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.4;
    margin: 10px;
    position: relative;
    -webkit-transition: all 800ms ease-in;
   
  }

  .panel h3 {
    font-size: 24px;
    position: absolute;
    top: 20px;
    margin: 0;
    opacity: 0;
  }

  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    border-radius: 50px; 
  }

  
  .panel.active {
    flex: 3;

  }

  .natura {
      background-position: bottom;
      position: relative;
  }

  /* .sport::before{
    content: 'ciao';
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity .2s ease;
    width: 100%;
    height: 100%;
  }

  .sport:hover::before {
    opacity: 1;
    transition: opacity .2s ease;
    border-radius: 50px;
  } */

  .formazione,
  .esperienze, 
  .competenze,
  .progetti {
      margin-top: 50px;
  }

  .progetti h2 {
    padding-bottom: 30px;
  }

  .videos {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
  }

  .competenze {
    background-color: #ffffff98;
    padding: 10px 30px;
    border-radius: 50px;
  }

  .competenze p, .competenze h2 {
    color: #094b65;
  }
  
  .contatti {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .contatti div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .contatti p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: none;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 16px;
  }

  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }


  .toggleWrapper {
    position: fixed;
    top:40px;
    right: -435px;
    overflow: hidden;
    padding: 0 200px;
    transform: translate3d(-50%, -50%, 0);
    z-index: 15;
  }
  
  .toggleWrapper input {
    position: absolute;
    left: -99em;
  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 90px;
    height: 50px;
    background-color: #99cde5;
    border-radius: 84px;
    transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .toggle:before {
    position: absolute;
    left: -50px;
    top: 15px;
    font-size: 18px;
  }
  
  .toggle:after {
    position: absolute;
    right: -48px;
    top: 15px;
    font-size: 18px;
    color: #749ED7;
  }
  
  .toggle__handler {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: #FFCF96;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(-45deg);
  }
  .toggle__handler .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  .toggle__handler .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
  }
  .toggle__handler .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
  }
  .toggle__handler .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
  }
  
  .star {
    position: absolute;
    background-color: #ffffff;
    transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 50%;
  }
  
  .star--1 {
    top: 10px;
    left: 35px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }
  
  .star--2 {
    top: 18px;
    left: 28px;
    z-index: 1;
    width: 30px;
    height: 3px;
  }
  
  .star--3 {
    top: 27px;
    left: 40px;
    z-index: 0;
    width: 30px;
    height: 3px;
  }
  
  .star--4,
  .star--5,
  .star--6 {
    opacity: 0;
    transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  
  .star--4 {
    top: 16px;
    left: 11px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
  }
  
  .star--5 {
    top: 32px;
    left: 17px;
    z-index: 0;
    width: 3px;
    height: 3px;
    transform: translate3d(3px, 0, 0);
  }
  
  .star--6 {
    top: 36px;
    left: 28px;
    z-index: 0;
    width: 2px;
    height: 2px;
    transform: translate3d(3px, 0, 0);
  }
  
  input:checked + .toggle {
    background-color: #749DD6;
  }
  input:checked + .toggle:before {
    color: #749ED7;
  }
  input:checked + .toggle:after {
    color: #ffffff;
  }
  input:checked + .toggle .toggle__handler {
    background-color: #FFE5B5;
    transform: translate3d(40px, 0, 0) rotate(0);
  }
  input:checked + .toggle .toggle__handler .crater {
    opacity: 1;
  }
  input:checked + .toggle .star--1 {
    width: 2px;
    height: 2px;
  }
  input:checked + .toggle .star--2 {
    width: 4px;
    height: 4px;
    transform: translate3d(-5px, 0, 0);
  }
  input:checked + .toggle .star--3 {
    width: 2px;
    height: 2px;
    transform: translate3d(-7px, 0, 0);
  }
  input:checked + .toggle .star--4,
  input:checked + .toggle .star--5,
  input:checked + .toggle .star--6 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  input:checked + .toggle .star--4 {
    transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  input:checked + .toggle .star--5 {
    transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  input:checked + .toggle .star--6 {
    transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }

  .dark-mode {
      color: #042b3c;
      display: block;
  }

  #night {
      display: none;
  }

  .dark-mode {
    display: block;
  }